


#div3>img{

}

#div3>div{
	display: flex;
	height;
	background: url(../img/mst_ab693f80c37ef10b2ad70212c9e5984c.jpg);
	background-size:100%;
	align-items: center;
	border-radius: 100px;
	
#div3>img{
	width: 33%;
	border-radius: 100px;
}

